<section class="container content-section text-center">
  <div class="row justify-content-center">
    <div class="col-lg-offset-2 col-lg-8">
      <h1>The votes are in</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <h3>
      We are headed to Montreal, QC
    </h3>

    <ul class="list-unstyled">
      <li>Weekend of the 19th, June 2026</li>
      <li>I myself will be flying the evening of the 18th</li>
      <li><a href="https://www.airbnb.com/l/8lWFg28N?s=67&unique_share_id=abe29e33-2324-4439-8802-8d9414d16524">Click here</a> for the Airbnb details.</li>
      <li>So far, I am just planning on chilling and watching the World Cup :)</li>
    </ul>
  </div>
</section>
